body {
  background-color: rgb(234, 234, 234);
}

/* css for layout component */
.layoutComponent {
  width: 98% !important;
  margin: auto!important;
}

/* css for navbar */
/* .logo-customClass{
  width: 20vw !important;
  margin-left: 1rem !important;

}
.searchbar-customClass{
  width: 50vw !important;
  margin-right: 1.3rem !important;
  margin-left: 1.3rem !important;
}
.becomeSeller-customClass{
  width : 20vw !important;
  
} */

/* .navbar-customClass { 
  position: fixed; 
  z-index: 1;
   top: 0; 
   left: 0; 
  
 } */

/* css for leftAside component */
.leftAside{
  
  width: 20vw !important;
  border-radius: 8px !important;
  background-color: white !important;
  margin-top: 0.5rem !important;
  margin-left: 1rem !important;
  box-shadow: 0px 0.4px 0.4px 0.4px rgb(180, 179, 179);
}
 
.leftAside >  * {
  border-radius: 8px !important;
  cursor: pointer;
}

.button-decoration{
  border: none !important;
}

/* css for MainSection */
.card-customClass{
  width : 50vw !important;
  margin-top: 0.5rem !important;

}
.main-container{
  
  margin-left: 23%;
}

/* css for rightside bar */
.rightSide-customClass{
  width: 20vw !important;
  border-radius: 8px !important;
  background-color: white !important;
  margin-top: 0.5rem !important;
  margin-right: 1.3rem !important;
  box-shadow: 0px 0.4px 0.4px 0.4px rgb(180, 179, 179);
}

.rightSide-customClass > * {
  width: 20vw !important;
  border-radius: 8px !important;
}

.rightSideBarClass{
  background-image: url("./components/imagesAndIcons/pexels-ekaterina-12203460/pexels-ekaterina-12203460.jpg");
  height: 5rem !important;
  width: 20vw !important;
  border-radius: 8px !important;
  background-repeat: no-repeat;
}
.pexelsgenaroCustomClass{
  background-image: url("./components/imagesAndIcons/pexels-genaro-servín-763210/pexels-genaro-servín-763210.jpg");
  height: 5rem !important;
  width: 20vw !important;
  border-radius: 8px !important;
  background-repeat: no-repeat;
}
.pexelsantoniBarClass{
  background-image: url("./components/imagesAndIcons/pexels-pixabay-164455/pexels-pixabay-164455.jpg");
  height: 5rem !important;
  width: 20vw !important;
  border-radius: 8px !important;
  background-repeat: no-repeat;
}

